@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Petrona&family=Poppins:wght@400;500;700;900&display=swap');

// Colors
$side-black: #0F0F0F;
$bg-black: #171717;
$sec-bg: #131313;
$white: #C7BEBE;
$brown: #5C4529;
$border: #2C2B2B;
$red: #DA0037;
$grey: #444444;

// Defaults
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: $white;
}
::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
  }
   

body{
    background: $bg-black;
    overflow: hidden;
    overflow-y: scroll;
    section{
        width: 100vw;
        height: 100vh;
        background: $bg-black;
        a{
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.circle{
    opacity: 0;
}
// Animations
@keyframes blink{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes updown{
    0%{
        bottom: 5em;
    }
    50%{
        bottom: 8em;
    }
    100%{
        bottom: 5em;
    }
}
@keyframes leftright{
    0%{transform: translateX(-2em);}
    50%{transform: translateX(0em);}
    100%{transform: translateX(-2em);}
}
@keyframes handmove{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(5deg);}
    100%{transform: rotate(0deg);}
}
@keyframes msg1{
    0%{opacity: 0;}
    20%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes msg2{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes msg3{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes msg4{
    0%{opacity: 0;}
    25%{opacity: 0;}
    50%{opacity: 0;}
    75%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

@keyframes cursorMove {
    0%,100%{
        scale: 1;
    }
    50%{
        scale: 3;
    }
}
// Preloader
.loader{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-self: center;
    h1{
        color: #fff;
        font-size: 4rem;
        text-align: center;
        width: 100%;
        font-family: Poppins;
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
    }
    .myname1{
        color: transparent;
        -webkit-text-stroke: 2px $red;
    }
    .myname2{
        color: $red;
        animation: animate 4s ease-in-out infinite;
    }
    .load{
        width: 0vw;
        height: 5px;
        background-color: $red;
        position: absolute;
        top: 60%;
        left: 0;
    }
}

// Navigation bar
nav{
    background-color: $side-black;
    z-index: 15;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-200%);
    transition: transform 1s ease-in-out;
    .logo-wrapper{
        margin-top: 4em;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        li{
            margin-bottom: 6px;
            background-color: $side-black;
            display: flex;
            justify-content:center;
            align-items: center;
            width: 240px;
            height: 41.67px;
            box-shadow:  2px 2px 0px #0b0b0b,
                        -2px -2px 0px #131313;
            border-radius: 5px;
            a{
                text-decoration: none;
                font-family: 'Poppins';
                width: 100%;
                font-weight: 400;
                font-size: 1.3rem;
                text-align: center;
                color: $brown;
            }
        }
    }
    .closebtn{
        margin-bottom: 4em;
        cursor: pointer
    }
}

// Opening and closing the navigation bar
.menu{
    position: fixed;
    top: 1.875em;
    left: 1.875em;
    cursor: pointer;
    z-index: 10;
}
.open-nav{
    transform: translateY(0%);
}

// Media queries
@media only screen and (min-width: 900px){
    .loader{
        .myname1,.myname2{
            font-size: 10rem;
            font-weight: 900;
        }
    }
}

@media only screen and (min-width: 1250px){
    .circle{
        opacity: 1;
        position: absolute;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 2px solid $red;
        opacity: .5s;
        z-index: 100;
        pointer-events: none;
        transition: scale .3s ease-in-out;
    }
    nav{
        transform: translateY(0%);
        width: 260px;
        justify-content: center;
        .logo-wrapper{
            position: absolute;
            top: 2em;
            margin-top: 1em;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo{
                width: 200px;
            }
        }
        ul {
            margin-top: 5em;
            li{
                width: 170px;
                height: 40px;
                a{
                    font-size: 1.1rem;
                }
            }
        }
        .closebtn{
            display: none;
        }
    }
    section{
        padding-left: 260px;
        scroll-snap-align: start;
    }
}

@media only screen and (min-width: 1900px){
    nav{
        width: 260px;
        ul{
            gap: 1em;
            li{
                width: 200px;
                a{
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }
        }
    }
}